.page-1 {
    background-color: black;
  }

  .word_group {
    width: 200px;
    height: 130px;
    margin: auto;
    position: relative;
  }
  .word {
    text-transform: uppercase;
    position: absolute;
    font-family: 'Jockey One', sans-serif;
  }
  .drizzle {
    font-size: 1.9rem;
    color: $color-purple;
    right: 0;
  }
  .tahini {
    font-size: 5rem;
    color: $color-green;
    right: -3px;
    top: 5px;
    z-index: 2;
  }
  .chickpeas {
    font-size: 1.9rem;
    color: $color-yellow;
    top: 75px;
    right: 56px;
    z-index: 1;
  }
