@import "vendor/reset";
@import "vendor/normalize";
@import "colors";
@import "pages/nav.scss";
@import "pages/page1";
@import "pages/page2";
@import "pages/page3";
@import "pages/cookie";


$debugging: false; // true or false


div {
  @if $debugging {
    outline: 1px solid hotpink;
  }
}

body {
  background-color: $color-yellow;
  color: black;
  font-family: 'Jockey One', sans-serif;
  font-size: 1rem;
}

h1 {
  color: white;
  font-size: clamp(1.3rem, 8.5vw, 2.5em);
}

h3 {
  font-size: 1.2rem;
}

.button {
  border: none;
  border-radius: 10px;
  padding: 2px 30px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
}

.btn-purple {
  background-color: $color-purple;
    &:hover {
      background-color: rgba($color-purple, 0.7);
    }
  }

.btn-yellow {
  background-color: $color-yellow;
  &:hover {
    background-color: rgba($color-yellow, 0.7);
  }
}

.btn-green {
  background-color: $color-green;
  &:hover {
    background-color: rgba($color-green, 0.7);
  }
}

.tablet_only {
  display: none;
}

.anchor_mobile {
  top: -100px;
  visibility: hidden;
  display: block;
  position: relative;
}
