@import "vendor/reset";
@import "vendor/normalize";
@import "colors";
@import "pages/page1";


$debugging: true; // true or false


div {
  @if $debugging {
    outline: 1px solid hotpink;
  }
}

body {
  background-color: $color-yellow;
  color: black;
  font-family: 'Jockey One', sans-serif;
  font-size: 1rem;
}

.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  color: white;
}



