@import "vendor/reset";
@import "vendor/normalize";
@import "colors";
@import "pages/nav";
@import "pages/page1";
@import "pages/page2";
@import "pages/page3";
@import "pages/cookie";

$debugging: false; // true or false

div {
  @if $debugging {
    outline: 1px solid hotpink;
  }
}

body {
  background-color: $color-yellow;
  color: black;
  font-family: "Jockey One", sans-serif;
  font-size: 1rem;
}

h1 {
  color: white;
  font-size: clamp(1.3rem, 8.5vw, 2.5em);
}

h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.button {
  border: none;
  border-radius: 10px;
  padding: 2px 30px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
}

.btn-purple {
  background-color: $color-purple;
}

.btn-yellow {
  background-color: $color-yellow;
}

.btn-green {
  background-color: $color-green;
}

.tablet_only {
  display: none;
}

.anchor_mobile {
  top: -100px;
  visibility: hidden;
  display: block;
  position: relative;
}

@media screen and (min-width: 768px) {
  @import "layouts/tablet";
}

@media screen and (min-width: 1024px) {
  @import "layouts/desktop";
}

@media (hover: hover) {
  .btn-yellow:hover {
    background-color: rgba($color-yellow, 0.7);
  }
  .btn-green:hover {
    background-color: rgba($color-green, 0.7);
  }
  .btn-purple:hover {
    background-color: rgba($color-purple, 0.7);
  }
  header .nav_button {
    .menu_open:hover .open:before {
      left: -9px;
    }
    .menu_open:hover .open:after {
      left: 5px;
    }
    .nav_full .nav_content ul li a:hover {
      color: black;
    }
    #burger:checked:hover ~ .menu_open .open:before {
      left: 0;
    }
    #burger:checked:hover ~ .menu_open .open:after {
      left: 0;
    }
  }
}
