.grid_container {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

header .nav_button .nav_full {
  margin-left: calc(100% / 12);
  width: calc(100vw - 100% / 12);
  max-width: calc(100% - 100% / 12);
  .close_spacer {
    width: calc(100% / 12);
  }
}

main {
  grid-column: 2 / 13;
}

.page_1 {
  border-width: 0 16px;

  .page_spacer {
    grid-template-columns: repeat(11, minmax(0, 1fr));
    column-gap: 16px;
    height: 100vh;
    min-height: 770px;

    .word_group {
      grid-column: 2 / 5;
      width: 210px;

      .drizzle {
        font-size: 2.1rem;
      }
      .tahini {
        font-size: 5.3rem;
        top: 5px;
      }
      .chickpeas {
        font-size: 2.1rem;
        top: 79px;
        left: 20px;
      }
    }

    .green_text {
      grid-column: 5 / 12;
      margin: auto;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      max-width: 800px;
      font-size: 2.1rem;
      line-height: 2.6rem;
    }

    .white_textbox {
      grid-column: 6 / 12;
      width: 100%;
      border-left: 16px solid $color_yellow;

      .white_textbox-text {
        font-size: 2.1rem;
        line-height: 2.6rem;
        margin: 0;
      }

      .explore {
        img {
          height: 1.4rem;
        }

        .explore_link {
          font-size: 2.1rem;
        }
      }
    }

    .fig_salad {
      grid-column: 1 / 6;
      max-height: 100%;
      padding-top: 0;

      .img_salad {
        max-height: 100%;
      }
    }
  }
}

.page_2 {
  .page_2-spacer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .food_menu-fig {
    display: grid;
    grid-template-columns: repeat(11, minmax(0, 1fr));
    grid-template-rows: minmax(0, 1fr);
    column-gap: 16px;
    height: 50vh;

    .food_menu-img {
      grid-column: 4 / 8;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .food_menu-section {
      flex-grow: 0;
    }
    .food_menu-img:first-of-type {
      grid-column: 1 / 4;
    }

    .food_menu-img:last-of-type {
      grid-column: 8 / 12;
    }
  }

  article {
    display: grid;
    grid-template-columns: repeat(11, minmax(0, 1fr));
    gap: 16px;
    padding: 5px;

    div {
      grid-column: 5 / 11;
    }

    div:first-of-type {
      grid-column: 1 / 5;
    }

    div:last-of-type {
      grid-column: 11 / 12;

      p {
        text-align: end;
      }
    }

    .food_menu-title {
      justify-content: flex-start;
      padding-right: 10px;

      h3 {
        font-size: 1.8rem;
        font-weight: 100;
      }

      .title_spacer:first-of-type {
        display: none;
      }

      .title_spacer {
        .sticker_bg {
          margin-left: 12px;
        }
        .sticker_new-bg {
          transform: rotate(2deg) translate(0, 9px);
        }

        .sticker_vegan-bg {
          transform: rotate(-3deg) translate(0, 9px);
        }

        .sticker_popular-bg {
          transform: rotate(-2deg) translate(0, 9px);
        }
      }
    }

    .food_menu-description {
      text-align: left;
      font-size: 1.3rem;
    }

    .food_menu-price {
      font-size: 1.8rem;
      font-weight: 100;
    }
  }
}
