header {
  background-color: black;
  border-bottom: 8px solid $color_yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  z-index: 30;

  h1 {
    text-transform: uppercase;
    padding-left: 15px;
    letter-spacing: 0.3rem;
    font-weight: 100;
  }

  .nav_button {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav_check {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 800;
      opacity: 0;
      cursor: pointer;
    }

    .burger_button {
      width: 40px;
      height: 40px;
      background: transparent;
      border: 0;
      padding: 0;
      pointer-events: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .nav_line {
        display: block;
        width: 40px;
        height: 6px;
        background-color: $color_yellow;
        border-radius: 3px;
        z-index: 100;
        transition: all 0.3s ease;

        &:nth-child(1) {
          content: "";
          background-color: $color_yellow;
          width: 40px;
          height: 6px;
          display: block;
          border-radius: 3px;
          transform: rotate(0deg);
          transition: all 0.3s ease;
        }

        &:nth-child(3) {
          content: "";
          background-color: $color_yellow;
          width: 40px;
          height: 6px;
          display: block;
          border-radius: 3px;
          transform: rotate(0deg);
          transition: all 0.3s ease;
        }
      }
    }

    .nav_check:checked + .nav_container .burger_button .nav_line {
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        background-color: white;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        background-color: white;
      }
    }

    .nav_check:not(:checked) ~ .nav_container .menu_full ul {
      transform: translateY(-20%);
    }

    .menu_full {
      position: fixed;
      width: 100vw;
      max-width: 100%;
      height: 100vh;
      max-height: 100%;
      top: 0;
      left: 0;
      background: $color_purple;
      z-index: 50;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

      .nav_content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        text-align: center;

        ul {
          list-style: none;
          padding: 0;
          margin: 0 auto;
          transform: translateY(0%);
          transition: all 0.5s;

          li a {
            display: block;
            color: white;
            text-decoration: none;
            transition: color 0.2s;
            text-transform: uppercase;
            padding: 10px 0;
          }
        }
      }
    }
    .nav_check:checked + .nav_container .menu_full {
      opacity: 1;
      visibility: visible;
    }
  }
}
